<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBflxZwSRGSNZeZYCP5O78wc2Vs44PBYkU</string>
	<key>GCM_SENDER_ID</key>
	<string>142928827833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterin</string>
	<key>PROJECT_ID</key>
	<string>bejoy-cd9ed</string>
	<key>STORAGE_BUCKET</key>
	<string>bejoy-cd9ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142928827833:ios:457d8b5afc4a9437899268</string>
</dict>
</plist>